# Everything is JSON
Header add Content-type "application/json"

# Allow requests from anywhere
Header add Access-Control-Allow-Origin "*"

# By default, API data expires in a week
Header set Cache-Control "max-age=604800, public"

# Specify the include path
php_value include_path ".:../includes/"
